@import url('holy_grail.css');
@import url('reset.css');
@import url('colors.css');
@import url('lib.css');
@import url('fonts.css');

/*    TEXT    */

h1, h2, h3, p, span, a, strong, input, label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

h1 {
    font-weight: 900;
    font-size: 32px;
}

h2, h3 {
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

.page {
    padding-top: 50px;
}

.page h1,
.page h2,
.page h3,
.page label {
    display: block;
    margin-bottom: 20px;
}

main.page {
    z-index: 1;
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: relative;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.3);
}

aside.page {
    z-index: 0;
    flex: 0 0 400px;
    position: relative;
    min-width: 400px;
    background-color: var(--white);
    transition: min-width .3s ease-in-out, flex-basis .3s ease-in-out;
}

aside.page.folded-width {
    flex-basis: 0px;
    min-width: 0px;
}

header {
    z-index: 2;
    position: relative;
    height: 50px;
    background-color: var(--deep-black);
}

.nav-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav.menu-items {
    display: flex;
    height: 100%;
    cursor: pointer;
    justify-content: space-between;
}

nav#top-menu {
    width: 500px;
}

nav#options > *:first-child {
    margin-right: 20px;
}

.menu-items .page-link:hover ~ .underline::after,
.menu-items .page-link:focus ~ .underline::after {
    width: 100%;
    background-color: var(--gold-yellow);
}

.page-link {
    outline: none;
    color: var(--white);
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.hg-page-wrapper {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../resources/images/room-0.jpg');
}