@import url('holy_grail.css');
@import url('reset.css');
@import url('colors.css');
@import url('lib.css');
@import url('fonts.css');

/*    TEXT    */

footer, h1, h2, h3, p, span, a, strong, input, label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

h1 {
    font-weight: 900;
    font-size: 32px;
}

h2, h3, strong {
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.row-content > label {
    display: block;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
    font-weight: 700;
}

.page {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 30px;
}

.page-content {
    padding-left: 10px;
    padding-right: 10px;
}

.page h1,
.page h2,
.page h3 {
    display: block;
    margin-bottom: 20px;
}

main.page {
    z-index: 1;
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: relative;
    width: 100%;
    border-left: 1px solid var(--grim-gray);
    border-right: 1px solid var(--grim-gray);
    background-color: var(--white);
    box-shadow: 0 0 50px 1px rgba(20, 20, 20, 0.01);
}

aside.page {
    z-index: 0;
    flex: 0 0 400px;
    position: relative;
    min-width: 400px;
    border-right: 1px solid var(--grim-gray);
    background-color: var(--layout-background);
    transition: min-width .3s ease-in-out, flex-basis .3s ease-in-out;
}

aside.page.folded-width {
    flex-basis: 0px;
    min-width: 0px;
    border-right: none;
}

header {
    z-index: 2;
    position: relative;
    height: 50px;
    background-color: var(--deep-sea);
}

body {
    background-color: white;
}

footer {
    color: var(--platinum-gray);
    background-color: var(--deep-sea);
}

.nav-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav.menu-items {
    display: flex;
    height: 100%;
    cursor: pointer;
    user-select: none;
}

nav#top-menu > * {
    margin-right: 20px;
} nav#top-menu > *:last-child {margin-right: 0;}

nav#options > *:first-child {
    margin-right: 20px;
}

.menu-items .underline {height: 5px;}
.menu-items .page-link:hover ~ .underline::after,
.menu-items .page-link:focus ~ .underline::after {
    width: 100%;
    background-color: var(--gold-orange);
}

.page-link {
    outline: none;
    color: var(--white);
}

.container {
    width: 100%;
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*
.hg-page-wrapper {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../resources/images/room-0.jpg');
}
*/

aside.page .page-content {
  overflow-y: auto;
  height:0;
  min-height:100%;
}

aside.page.folded-width .page-content::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}