:root {
    --deep-black: #000000;
    --gold-yellow: #FFBA33;
    --white: #FFFFFF;

    --accent-foreground: #D0D7DE;
    --accent-background: #000000;
    --layout-foreground: #FFFFFF;
    --layout-background: #F6F8FA;

    --warning-foreground: #F25C54;
    --warning-background: #F7B267;

    --success-foreground: #79AEA3;
    --success-background: #70EE9C;
}