:root {
    --black: #000000;
    --white: #FFFFFF;

    --accent-foreground: var(--grim-gray);
    --accent-background: #000000;
    --layout-foreground: #FFFFFF;
    --layout-background: #F6F8FA;

    --oxford-blue: #14213D;
    --deep-sea: #3D405B;
    --deep-sea-transparent: #3D405BCC;
    --gold-orange: #FCA311;
    --gold-yellow: #FFBA33;
    --platinum-gray: #E5E5E5;
    --grim-gray: #D0D7DE;
}

/*    COLOR INITIALIZING    */
:root {
    --sienna-red: #E76F51;
    --ashberry-red: #F25C54;
    --red-send-orange: #F4A261;
    --orange-orange: #F7B267;
    --lemon-yellow: #E9C46A;
    --persian-green: #2A9D8F;
    --pine-green: #264653;
    --emerald-green: #79AEA3;
    --avocado-green: #70EE9C;
}

/*    COLOR DEFINING    */
:root {
    --warning-contour: var(--ashberry-red);
    --warning-layer: var(--orange-orange);
    --success-contour: var(--persian-green);
    --success-layer: var(--avocado-green);
}