body, html {
    height: 100%;
}

.hg-page-wrapper {
    display: flex;
    flex-direction: column;
}

.hg-page-outer {
   display: grid;
   grid-template-rows: min-content;
   flex: 1 0 auto;
}

.hg-page-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%;
}

main {

    background-color: lightgray;
}

aside {
    width: 100px;
    background-color: gray;
}

header {
    height: 50px;
    background-color: green;
}

footer {
    background-color: purple;
}