/*       INPUTS       */

.string-input {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;

    font-size: 24px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    background-color: var(--layout-background);
    transition: border-color .3s ease-in-out;
}

.string-input:hover {
    border-color: var(--accent-foreground);
}

.string-input:focus {
    border-color: var(--gold-yellow);
    transition: border-color .3s ease-in-out;
}
/*
.str-input-wrapper > .string-input:hover + .underline {
    background-color: var(--accent-foreground);
    transition: background-color: .3s ease-in-out;
}
*/

.str-input-wrapper {
    overflow: hidden;
    border-radius: 10px;
}

.str-input-wrapper > .string-input:focus + .underline::after {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gold-yellow);
}

.float-box {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 600px;
    background: var(--white);
    border-radius: 10px;
    border: 1px solid var(--accent-foreground);
}

.float-box input:last-child {
    margin-bottom: 0;
}

.row-content {
    margin-bottom: 30px;
}

input[type="submit"] {
    width: 100%;
}

/*        UNDERLINE        */

/* Отвечает за границы подчеркивания (и как следствие цвета подчёркивания),
 * всегда равен полной ширине родительского элемента
 */
.underline {
    height: 5px;
    width: 100%;
    background-color: transparent;
    transition: background-color .3s ease-in-out;
}

/* Отвечает за содержимое подчёркивания (и как следствие ширины подчёркивания,
 * относительно границ родительской обёртки подчёркивания).
 * Ширина меняется динамически.
 */
.underline::after {
    content: "";
    display: block;
    height: 100%;
    width: 0%;
    background-color: transparent;
    transition: width .3s ease-in-out;
}

/*    VERTICAL ALIGN    */

.vertical-align-wrapper {
    height: 100%;
}

.vertical-align-outer {
    height: 100%;
    display: flex;
}

.vertical-align-inner {
    margin-top: auto;
    margin-bottom: auto;
}

.btn-submit {
    height: 50px;

    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--white);
    outline: none;
    border: 2px solid var(--gold-yellow);
    background-color: var(--gold-yellow);
    transition: box-shadow .3s ease-in-out;
}

.btn-submit:hover {
  box-shadow: inset 0 0 0 2px var(--white);
  fill: var(--gold-yellow);
}

@media (min-width: 768px) {
  .btn-submit {
    min-width: 170px;
  }
}

/*    MESSAGES    */

.flash {
    padding: 10px;
}

.flash.warning {
    background-color: var(--warning-background);
    border: 1px solid var(--warning-foreground);
} .flash.warning * {color: var(--warning-foreground);}

.flash.message {
    color: var(--success-solid);
    background-color: var(--success-background);
    border: 1px solid var(--success-foreground);
}