/*       INPUTS       */

.string-input {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;

    font-size: 24px;
    border: 1px solid transparent;
    background-color: var(--layout-background);
    transition: border-color .3s ease-in-out;
}

.string-input:hover {
    border-color: var(--accent-foreground);
}

.string-input:focus {
    border-color: var(--gold-yellow);
    transition: border-color .3s ease-in-out;
}
/*
.str-input-wrapper > .string-input:hover + .underline {
    background-color: var(--accent-foreground);
    transition: background-color: .3s ease-in-out;
}
*/

.str-input-wrapper > .string-input:focus + .underline::after {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gold-yellow);
}

.float-box {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 400px;
    background: var(--white);
    border: 2px solid var(--accent-foreground);
}

.float-box input:last-child {
    margin-bottom: 0;
}

.float-box > input {
    margin-bottom: 30px;
}

input[type="submit"] {
    width: 100%;
}

/*        UNDERLINE        */

/* Отвечает за границы подчеркивания (и как следствие цвета подчёркивания),
 * всегда равен полной ширине родительского элемента
 */
.underline {
    height: 5px;
    width: 100%;
    background-color: transparent;
    transition: background-color .3s ease-in-out;
}

/* Отвечает за содержимое подчёркивания (и как следствие ширины подчёркивания,
 * относительно границ родительской обёртки подчёркивания).
 * Ширина меняется динамически.
 */
.underline::after {
    content: "";
    display: block;
    height: 100%;
    width: 0%;
    background-color: transparent;
    transition: width .3s ease-in-out;
}

/*    VERTICAL ALIGN    */

.vertical-align-wrapper {
    height: 100%;
}

.vertical-align-outer {
    height: 100%;
    display: flex;
}

.vertical-align-inner {
    margin-top: auto;
    margin-bottom: auto;
}

/* CSS */
.btn-submit {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-submit:hover {
  border-color: var(--gold-yellow);
  color: var(--gold-yellow);
  fill: var(--gold-yellow);
}

@media (min-width: 768px) {
  .btn-submit {
    min-width: 170px;
  }
}