<!DOCTYPE HTML PUBLIC>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body class="hg-page-wrapper container">
        <div class="hg-page-outer">
            <header>
                <div class="nav-wrapper content">
                    <nav id="top-menu" class="menu-items">
                        <div class="vertical-align-wrapper underline-container menu-item-wrapper">
                            <a href="{{url_for('index')}}" class="page-link vertical-align-outer">
                                <span class="vertical-align-inner">Главная</span>
                            </a>
                            <div class="underline"></div>
                        </div>
                        <div class="vertical-align-wrapper underline-container menu-item-wrapper">
                            <a href="{{url_for('booking')}}" class="page-link vertical-align-outer">
                                <span class="vertical-align-inner">Забронировать</span>
                            </a>
                            <div class="underline"></div>
                        </div>
                        <div class="vertical-align-wrapper underline-container menu-item-wrapper">
                            <a href="{{url_for('statistics')}}" class="page-link vertical-align-outer">
                                <span class="vertical-align-inner">Статистика</span>
                            </a>
                            <div class="underline"></div>
                        </div>
                    </nav>
                    <nav id="options" class="menu-items">
                        <div class="vertical-align-wrapper underline-container">
                            <script type="text/javascript">
                                function hide(elementId) {
                                    let el = document.getElementById(elementId);
                                    let display = el.style.display;
                                    if (display == "none") {
                                        el.style.width = "initial";
                                    } else {
                                        el.style.width = "none";
                                    }
                                    console.log(display)
                                }

                                function foldWidth(elementId) {
                                    let el = document.getElementById(elementId);
                                    el.classList.toggle('folded-width')
                                }
                            </script>
                            <div onclick="foldWidth('side-menu')" class="page-link vertical-align-outer">
                                <span class="vertical-align-inner">Жильцы</span>
                            </div>
                            <div class="underline"></div>
                        </div>
                        <div class="vertical-align-wrapper underline-container">
                            {% if current_user.is_authenticated %}
                                {% set login_link = (url_for('logout'), 'Выйти: ' + current_user.username) %}
                            {% else %}
                                {% set login_link = (url_for('login'), 'Войти') %}
                            {% endif %}
                            <a href="{{login_link[0]}}" class="page-link vertical-align-outer">
                                <span class="vertical-align-inner">{{login_link[1]}}</span>
                            </a>
                            <div class="underline"></div>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="hg-page-inner content">
                <main class="page">
                    <div class="page-content">
                        {% block content %}{% endblock %}
                    </div>
                </main>
                <aside id="side-menu" class="page">
                    <div class="page-content"></div>
                </aside>
            </div>
        </div>
        <footer class="container">
            <section class="flashed-messages-group container">
                {% for cat, msg in get_flashed_messages(True) %}
                    {% set message_classes = cat %}
                    <div id="flashed-message-{{loop.index0}}" class="flashed-message-wrapper vertical-align-wrapper">
                        <div class="flashed-message-pane content vertical-align-outer flash {{message_classes}}">
                            <p class="vertical-align-inner">{{msg}}</p>
                            <div class="btn-close-pane vertical-align-inner {{message_classes}}">(x)</div>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <section class="copyright content page">
                <h3>Задача 23. «Гостиничный комплекс».</h3>
                <p>
                    Выполнил студент ФКН 3 курса, группы 5.2 <br><strong>Шакайло Александр</strong> <br><br>
                </p>
                <h3>Текст задачи:</h3>
                <p>
                    Сведения о клиентах, персонале. <br>
                    Занятости и бронировании номеров. <br>
                    Возможность рассмотрения групповой заявки. <br>
                </p>
            </section>
        </footer>
    </body>
</html>