<!DOCTYPE HTML PUBLIC>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body class="hg-page-wrapper container">
        <div class="hg-page-outer content">
            <header>
                <nav id="top-menu">
                    <div class="vertical-align-wrapper underline-container">
                        <a href="" class="page-link vertical-align-outer">
                            <span class="vertical-align-inner">Главная</span>
                        </a>
                        <div class="underline"></div>
                    </div>
                    <div class="vertical-align-wrapper underline-container">
                        <a href="" class="page-link vertical-align-outer">
                            <span class="vertical-align-inner">Забронировать</span>
                        </a>
                        <div class="underline"></div>
                    </div>
                    <div class="vertical-align-wrapper underline-container">
                        <a href="" class="page-link vertical-align-outer">
                            <span class="vertical-align-inner">Регистрация</span>
                        </a>
                        <div class="underline"></div>
                    </div>
                    <div class="vertical-align-wrapper underline-container">
                        <a href="" class="page-link vertical-align-outer">
                            <span class="vertical-align-inner">Статистика</span>
                        </a>
                        <div class="underline"></div>
                    </div>
                </nav>
            </header>
            <div class="hg-page-inner">
                <main class="page">
                    {% block content %}{% endblock %}
                </main>
                <aside class="page"></aside>
            </div>
        </div>
        <footer>
            SDFG <br> sdfgsdfg<br>
        sdfasdf
        </footer>
    </body>
</html>