{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/booking.css')}}">{% endblock %}

{% block content %}
    <form id="rent" action="" method="POST">
        {{rent.hidden_tag()}}
        {% for room_dto in rent_dto.available_rooms %}
            <section id="room-{{room_dto.id}}-description" class="room-description hidden">
                <div class="text-room-description">
                    <h3 class="row-content">Номер комнаты: {{room_dto.id}}</h3>
                    <h3 class="row-content">Цена (за сутки): {{room_dto.cost}} рублей</h3>
                    <h3 class="row-content">Двуместных кроватей: {% if room_dto.double_beds %} {{room_dto.double_beds}} {% else %} нет {% endif %}</h3>
                    <h3 class="row-content">Одиноместных кроватей:  {% if room_dto.single_beds %} {{room_dto.single_beds}} {% else %} нет {% endif %}</h3>
                    <h3 class="row-content">Душевых: {% if room_dto.showers %} {{room_dto.showers}} {% else %} нет {% endif %}</h3>
                    <h3 class="row-content">Уборных: {% if room_dto.toilets %} {{room_dto.toilets}} {% else %} нет {% endif %}</h3>
                </div>
                <div class="image-room-description row-content">
                    <p>Нет изображения</p>
                </div>
            </section>
        {% endfor %}
        {% for room in rent.rooms %}
            {{room.hidden_tag()}}
            <div class="row-content">
                {{room.room_id(class="rent-room-choice")}}
            </div>
            <div class="row-content">
                {{room.beg_of_period.label}}
                <div class="str-input-wrapper underline-container">
                    {{room.beg_of_period(class="string-input")}}
                    <div class="underline"></div>
                </div>
            </div>
            <div class="row-content">
                {{room.end_of_period.label}}
                <div class="str-input-wrapper underline-container">
                    {{room.end_of_period(class="string-input")}}
                    <div class="underline"></div>
                </div>
            </div>

        {% endfor %}
        <div class="row-content">{{rent.btn_add_room(class="btn-submit")}}</div>
        <div class="row-content">{{rent.btn_submit(class="btn-submit")}}</div>
        <div class="row-content"></div>
        <div class="row-content"></div>
    </form>
{% endblock %}

{% block side %}
    {% for tenant in rent.tenants %}
    {{tenant.csrf_token(form="rent")}}
    <section id="{{tenant.id}}" class="tenant-section">
        <div class="row-content">
            {{tenant.room_id.label}}
            <div class="str-input-wrapper underline-container">
                {{tenant.room_id(class="tenant-room-select string-input", form="rent")}}
                <div class="underline"></div>
            </div>
        </div>
        <div class="row-content">
            {{tenant.full_name.label}}
            <div class="str-input-wrapper underline-container">
                {{tenant.full_name(class="string-input", form="rent")}}
                <div class="underline"></div>
            </div>
        </div>
        <div class="row-content">
            {{tenant.doc_type.label}}
            <div class="str-input-wrapper underline-container">
                {{tenant.doc_type(class="string-input", form="rent")}}
                <div class="underline"></div>
            </div>
        </div>
        <div class="row-content">
            {{tenant.doc_number.label}}
            <div class="str-input-wrapper underline-container">
                {{tenant.doc_number(class="string-input", form="rent")}}
                <div class="underline"></div>
            </div>
        </div>
        <div class="row-content">
            {{tenant.date_of_birth.label}}
            <div class="str-input-wrapper underline-container">
                {{tenant.date_of_birth(class="string-input", form="rent")}}
                <div class="underline"></div>
            </div>
        </div>
        <div class="row-content">
            {{tenant.phone.label}}
            <div class="str-input-wrapper underline-container">
                {{tenant.phone(class="string-input", form="rent")}}
                <div class="underline"></div>
            </div>
        </div>
        <div class="row-content">
            {{tenant.email.label}}
            <div class="str-input-wrapper underline-container">
                {{tenant.email(class="string-input", form="rent")}}
                <div class="underline"></div>
            </div>
        </div>
    </section>
    {% endfor %}
    <div class="row-content">
        {{rent.btn_add_tenant(class="btn-submit", form="rent")}}
    </div>
    <script>
        var rentRoomIdChoices = document.getElementsByClassName("rent-room-choice");
        var availableRoomIdTenantOptions = document.getElementsByClassName("tenant-room-select");

        function createRoomSelectOption(roomId) {
            let option = document.createElement("option");
            option.text = roomId;
            option.value = roomId;
            return option;
        }

        function clearRoomSelectOptions() {
            for (i = 0; i < availableRoomIdTenantOptions.length; i++) {
                availableRoomIdTenantOptions[i].innerHTML = '';
            }
        }
        
        function setRoomSelectOptions(roomIds) {
            for (i = 0; i < availableRoomIdTenantOptions.length; i++) {
                for (j = 0; j < roomIds.length; j++) {
                    availableRoomIdTenantOptions[i].appendChild(createRoomSelectOption(roomIds[j]));
                }
            }
        }

        function updateRoomSelectOptions() {
            clearRoomSelectOptions();
            setRoomSelectOptions(getCheckedRoomChoices());
        }

        function getCheckedRoomChoices() {
            let roomIds = [];
            for (let i = 0; i < rentRoomIdChoices.length; i++) {
                let optionList = rentRoomIdChoices[i].childNodes;
                for (let j = 0; j < optionList.length; j++) {
                    let choice = optionList[j].children[0];
                    if (choice.checked == true && roomIds.indexOf(choice.value) == -1) {
                        roomIds.push(choice.value);
                    }
                }
            }
            return roomIds;
        }

        function setRoomChoicesOnclick() {
            for (let i = 0; i < rentRoomIdChoices.length; i++) {
                let optionList = rentRoomIdChoices[i].childNodes;
                for (let j = 0; j < optionList.length; j++) {
                    let choice = optionList[j].children[0];
                    choice.onclick = function() {
                        updateRoomSelectOptions();
                        toggleRoomDescription(choice.value);
                    }
                }
            }
        }

        var roomDescriptions = document.getElementsByClassName("room-description");

        function hideRoomDescriptions() {
            for (let i = 0; i < roomDescriptions.length; i++) {
                roomDescriptions[i].classList.add("hidden");
            }
        }

        function toggleRoomDescription(roomId) {
            let description = document.getElementById('room-' + roomId + '-description');
            hideRoomDescriptions();
            description.classList.toggle("hidden");
        }

        function reloadData() {
            setRoomChoicesOnclick();
            setRoomSelectOptions();
        }

        document.onload = reloadData();
    </script>
{% endblock %}