<!DOCTYPE HTML PUBLIC>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body class="hg-page-wrapper">
        <div class="hg-page-outer">
            <header>Сайт работает</header>
            <main class="hg-page-inner">
                    <form action="" method="POST">
                        {{ form.csrf_token() }}
                        {{ form.user }}
                        {% for rent in form.rents %}
                            {{ rent.btn_add_room }}
                        {% endfor %}
                        {{ form.btn_add_rent }}
                        {{ form.btn_register }}
                    </form>
                    <aside>
                        asd
                    </aside>
            </main>

        </div>
        <footer>SDFG</footer>
    </body>
</html>