{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }} ">
{% endblock %}

{% block content %}
<form class="float-box" action="" method="POST">
    {{ form.csrf_token() }}
    {{ form.user.username.label }}
    {{ form.user.username(class="string-input") }}
    {{ form.user.password.label }}
    {{ form.user.password(class="string-input") }}
    {{ form.user.repeat_password.label }}
    {{ form.user.repeat_password(class="string-input") }}

    {{ form.btn_register(class="btn-submit") }}
</form>
{% endblock %}